/* index.css or globals.css */
.text-gradient {
    background: linear-gradient(to right, #10B981, #1D4ED8);
    /* Green to Blue */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}